<div id="product-card">
  <img id="product-pic" src={{produkt.bildUrl}} />
  <div id="product-info">
    <h1 id="product-title">{{produkt.titel}}</h1>
    <div id="product-description">{{produkt.beschreibung}}</div>
    <div [hidden]="setCartsInvisible" id="product-amount">x{{itemAmount}}</div>
      <div [hidden]="!setCartsInvisible" id="product-singelCartButton">
        <button class="defaultCart-button-style" (click)="AddToCart()">
          <img src="cart.png" alt="" class="defaultCart-icon" />
        </button>
    </div>
    <div id="product-doubleCartButtons" [hidden]="setCartsInvisible">
      <button class="doubleCart-button-style" >
        <img src="w-remove-button.png" alt="" class="doubleCart-icon" (click)="RemoveFromCart()" />
      </button>
      <button class="doubleCart-button-style" >
        <img src="w-add-button.png" alt="" class="doubleCart-icon" (click)="AddToCart()" />
      </button>
    </div>
    <p id="product-price">{{produkt.preis}} €</p>
  </div>
</div>