#product-card {
  min-width: 300px;
  max-width: 320px;
  width: 320px;

  min-height: 450px;
  max-height: 470px;
  height: 470px;

  background-color: #ad1b1b00;
  margin: .5rem;

  display: flex;
  flex-direction: column;

  .product-pic {
    display: block;
    object-fit: cover;

    border-radius: 20px 20px 0 0;
    border-width: 1px 4px 1px 2px; //Left Right Bottom Top
    border-style: solid;
    border-color: black;
    margin: 0;
    padding: 0;

    flex: 1;
  }

  #product-info {
    background-color: rgb(61, 61, 61);

    border-radius: 0 0 20px 20px;
    border-bottom: 5px;
    border-width: 1px 4px 4px 2px;
    border-style: solid;
    border-color: black;

    margin: 0;
    padding: 0 10px 0 10px;

    flex: 1;

    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0px;


    .product-row {
      margin-left: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;


      #product-describtion {
        max-height: 4rem;
        overflow-y: auto;
      }

      #product-amount{
        padding-left: 50px;
      }
    }

    #product-title {
      margin: 10px 0 0 5px;
      padding: 0;
    }

  }
}