main {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 204px 1fr auto; //213px 1fr auto

  background-image: linear-gradient(to right, #676e72, #2e3435);


  height: 100vh;

  #header {
    grid-column: 1 / span 3;
    grid-row: 1;

    text-align: center;
    align-content: center;
    font-size: 50px;
    color: #ECEBF3;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;

    background-color: transparent;

    border-width: 0;
    border-bottom-width: 3px;
    border-style: outset;
    border-color: #6e767a;

    padding: 10px 0 10px 0;


    //box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.3);

    #open-cart-button {
      position: absolute;
      top: 105px;
      right: 20px;

      height: 100px;
      width: 100px;

      background-color: #c5c5ff;
      border-radius: 30px;
      border-style: outset;
      border-width: 5px;
      border-color: rgb(136, 45, 45);

      animation: pulsatingBorder 3s infinite;
      z-index: 10;

      #cart-icon {
        margin-top: 5px;
        width: 80px;
        height: 80px;
      }

      #product-amount {
        position: absolute;
        top: 20px;
        left: 26px;

        width: 40px;
        height: 40px;

        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Michroma', sans-serif;
      }

      @keyframes pulsatingBorder {
        0% {
          border-color: #ac0909;
          color: #ac0909;
          background-color: #ECEBF3;
        }

        50% {
          border-color: #4E5457;
          color: #4E5457;
          background-color: #E4E4EB;
        }

        100% {
          border-color: #ac0909;
          color: #ac0909;
          background-color: #ECEBF3;
        }
      }
    }
  }

  #navigation {
    grid-column: 1;
    grid-row: 2 / span 2;

    height: auto;
    width: 100%;

    display: grid;
    grid-template-rows: 10% auto 10% 10%;

 
    background-color: transparent;
    box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.75);

    #nav-profile {
      grid-row: 1;
      background-color: transparent;
      border-width: 0;
      border-radius: 0px;

      max-height: 100px;
      min-height: 100px;

      #user-icon {
        max-height: 80px;
        min-height: 80px;
      }
    }

    #nav-filters {
      grid-row: 2;
    }

    #nav-historie {
      grid-row: 3;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      max-height: 100px;
      min-height: 100px;

      font-size: 20px;
      font-family: 'Michroma', sans-serif;
    }

    #nav-logoutButton {
      grid-row: 4;
      
      margin: 0 50px 0 50px ; 
      border-radius: 50%;
      width: auto;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      max-height: 100px;
      min-height: 100px;

      font-size: 20px;
      font-family: 'Michroma', sans-serif;

      &:hover {
        background-color: #4646463d;
      }
      #close-icon {
        margin-right: 15px;
        max-height: 80px;
        min-height: 80px;
      }
    }



  }

  #produkte {
    grid-column: 2;
    grid-row: 2;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    scrollbar-width: none;

    border-width: 0;
    border-style: solid;
    border-color: #202020;

    //border-radius: 6px 6px 0 0;

    //box-shadow: inset 0 0px 20px rgb(0, 0, 0);
    box-shadow: inset -10px 0px 30px -10px rgba(0, 0, 0, 0.75);

    position: relative;

    #empty-products{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
    }
  }

  #cart {
    grid-column: 3;
    grid-row: 2;

    display: grid;
    grid-template-rows: auto 1fr auto;

    height: auto;
    width: 0px;

    transition: width 0.07s ease-in-out;
    overflow: hidden;


    &.expanded {
      width: 667px;
      border-width: 0 0 0 5px;
    }

    #close-cart-button {
      grid-row: 1;

      border-style: solid;
      border-width: 0px;
      border-radius: 0 0 20px 20px;
      border-color: #2e3435;

      background-color: #4E5457;
      width: auto;
      height: 160px;

      margin-right: 5px;
      margin-left: 5px;

      position: relative;
      overflow: hidden;

      color: #E4E4EB;

      font-size: 30px;
      font-family: 'Michroma', sans-serif;

      box-shadow: inset 0 -0px 20px rgba(0, 0, 0, 0.3);

      margin-bottom: 5px;
    }

    #close-cart-button::after {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg,
          rgba(255, 255, 255, 0) 20%,
          rgba(255, 255, 255, 0.103) 50%,
          rgba(255, 255, 255, 0) 80%);
      animation: shimmer 8s infinite;
      z-index: 1;
    }

    @keyframes shimmer {
      0% {
        left: -100%;
      }

      100% {
        left: 100%;
      }
    }

    #cartProductSlices {
      grid-row: 2;
      position: relative;

      #empty-cart {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        font-weight: bold;
        text-transform: uppercase;
        user-select: none;
      }

      display: flex;
      flex-direction: column;

      overflow-y: auto;
      scrollbar-width: auto;
      background-color: transparent;

      scrollbar-width: none;

      align-items: center;

    }

    #cartInfo {
      grid-row: 3;
      margin-top: 20px;

      #cartLine {
        border-width: 1px;
        border-radius: 50px;

        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 14px;

        border-style: solid;

        border-color: #E4E4EB;
      }

      #cartTotal {
        margin-right: 20px;
        justify-self: right;
        font-size: 30px;
        height: 250px;

        color: white;
      }
    }
  }
}