#product-slice {
    height: 150px;
    max-height: 150px;

    width: 652px;
    max-width: 652px;

    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(39, 39, 39);

    margin: .2rem;

    overflow: hidden;

    position: relative;
    display: flex;
    flex-direction: row;

    background-color: rgb(61, 61, 61);
    color: white;

    #product-pic {
        max-height: 150px;
        object-fit: cover;
    }


    #product-info {
        width: 100%;

        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;

        #product-name {
            font-size: 1.2vw;
            margin: 10px 0 0 10px;

            grid-column: 1 / span 2;
            grid-row: 1;
        }

        #product-price {
            font-size: .8vw;
            margin: 10px 10px 0 0px;

            font-variant: small-caps;

            justify-self: right;
            grid-column: 3;
            grid-row: 1;

            color: #4CAF50;
        }

        #product-remove {
            grid-column: 1;
            grid-row: 3;
        }

        #delete-btn-pos {
            grid-column: 1;
            grid-row: 3;
        }


        #amount-box {
            grid-row: 3;
            grid-column: 3;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            #product-amount {
                grid-column: 2;
                grid-row: 1;

                font-size: 40px;
                justify-self: center;
                align-self: center;
            }

            #add-btn-pos {
                grid-column: 3;
                grid-row: 1;
            }

            #remove-btn-pos {
                grid-column: 1;
                grid-row: 1;
            }
        }

        .amount-button-style {
            background-color: transparent;
            border: 0;

            min-width: 20px;
            min-height: 20px;
            max-width: 80px;
            max-height: 80px;
            cursor: pointer;
            border-radius: 5px;
        }

        .bin-button-style {
            background-color: transparent;
            border: 0;

            min-width: 20px;
            min-height: 20px;
            max-width: 80px;
            max-height: 80px;
            cursor: pointer;
            border-radius: 5px;

            &:hover .button-icon {
                animation: shake 0.3s ease-in-out;
            }
        }

        @keyframes shake {
            0% {
                transform: translateX(0);
            }
            30% {
                transform: translateX(1px);
            }
            70% {
                transform: translateX(-1px);
            }
            100% {
                transform: translateX(0);
            }
        }

        .button-icon {
            max-width: 2rem;
            max-height: 2rem;
        }

    }
}